/*  your css code here. If applicable */

table {
	border-collapse: collapse;
    width: 100%;
	margin-top: 20px;
	border: 0px solid rgb(255, 165, 0);
	border-width: 0px 0px 1px 1px;
}

th, td {
	border: 0px solid rgb(255, 165, 0);
	border-width: 1px 1px 0px 0px;
    padding: 3px 5px;
	text-align: center;
}

th {
	background-color: #888;
    color: #fff;
}

td.subTotalCell {
	text-align: right;
}

tr.subTotalRow {
	font-weight: bold;
}

td.bottomBorder {
	border-bottom: 2px solid rgb(255, 165, 0);
}

td.rightBorder {
	border-right: 2px solid rgb(255, 165, 0);
}

